In [1]:
import pandas as pd
import numpy as np
import random
import itertools

col_list = ["SERIALNO","SEX", "RAC1P", "AGEP","SCHL","HINCP","VEH","NP","WIF"]
df = pd.read_csv("C:\\Users\\abubabu\\Documents\\GitHub\\synthetic-population-simulation\\CA-data\\pums\\temp_pums.csv", usecols=col_list)

df.head(5)

        SERIALNO    AGEP        SCHL     SEX  RAC1P  HINCP  VEH   NP  WIF
0  2017000000496   adult     college  female  white     10  3.0  3.0  1.0
1  2017000000496  senior     college    male  white     10  3.0  3.0  1.0
2  2017000000496   adult     college    male  white     10  3.0  3.0  1.0
3  2017000000567   adult     college  female  white      8  1.0  2.0  NaN
4  2017000000567   adult  below-high    male  white      8  1.0  2.0  NaN

In [2]:
df.isnull().sum()

SERIALNO        0
AGEP            0
SCHL            0
SEX             0
RAC1P           0
HINCP           0
VEH          2719
NP            336
WIF         10036
dtype: int64

In [3]:
df['VEH']=df['VEH'].fillna(df['VEH'].median())
df['NP']=df['NP'].fillna(df['NP'].median())
df['WIF']=df['WIF'].fillna(df['WIF'].median())

In [4]:
df.head(5)

        SERIALNO    AGEP        SCHL     SEX  RAC1P  HINCP  VEH   NP  WIF
0  2017000000496   adult     college  female  white     10  3.0  3.0  1.0
1  2017000000496  senior     college    male  white     10  3.0  3.0  1.0
2  2017000000496   adult     college    male  white     10  3.0  3.0  1.0
3  2017000000567   adult     college  female  white      8  1.0  2.0  2.0
4  2017000000567   adult  below-high    male  white      8  1.0  2.0  2.0

In [5]:
# columns = ["SERIALNO", "AGEP", "SCHL", "SEX", "RAC1P", "HINCP", "VEH", "NP", "WIF"]

# # Create a frequency matrix
# grouped = df.groupby("SERIALNO").apply(lambda x: x.apply(tuple, axis=1).value_counts())

# # Convert group index to columns
# grouped = grouped.unstack(fill_value=0)

# # Reset index
# grouped = grouped.reset_index()

# # Rename columns
# grouped.columns = ["SERIALNO"] + ["_".join(map(str, col)) for col in grouped.columns[1:]]
# # print(freq_matrix)

In [6]:
# grouped.head(5)

In [7]:
# # Generate all possible combinations of characteristics (you need to customize this)
# household_combinations = ["{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"]) for _, row in df.iterrows()]
# person_combinations = ["{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"]) for _, row in df.iterrows()]

# # Count frequencies using crosstab
# frequency_matrix = pd.crosstab(df['SERIALNO'], [pd.Series(household_combinations), pd.Series(person_combinations)])

# # Save the frequency matrix to a CSV file
# frequency_matrix.to_csv('frequency_matrix.csv')
# frequency_matrix.head(5)

In [8]:
# Generate all possible combinations of characteristics (customize as needed)
household_combinations = list(set(["{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"]) for _, row in df.iterrows()]))
person_combinations = list(set(["{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"]) for _, row in df.iterrows()]))

# Get unique households
unique_households = df['SERIALNO'].unique()

# Initialize the binary matrix
num_unique_households = len(unique_households)
num_household_combinations = len(household_combinations)
num_person_combinations = len(person_combinations)
binary_matrix = pd.DataFrame(0, index=unique_households, columns=household_combinations + person_combinations)

# Fill the binary matrix
for idx, row in df.iterrows():
    serialno = row['SERIALNO']
    household_combination = "{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"])
    person_combination = "{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"])

    binary_matrix.at[serialno, household_combination] = 1
    binary_matrix.at[serialno, person_combination] += 1  # Increase the frequency

# Save the binary matrix to a CSV file
binary_matrix.to_csv('binary_matrix.csv')

In [9]:
binary_matrix.head(5)

,9HINCP_2.0VEH_5.0NP_1.0WIF,8HINCP_3.0VEH_4.0NP_1.0WIF,8HINCP_1.0VEH_5.0NP_2.0WIF,8HINCP_1.0VEH_1.0NP_2.0WIF,2HINCP_1.0VEH_3.0NP_1.0WIF,6HINCP_3.0VEH_7.0NP_3.0WIF,5HINCP_2.0VEH_2.0NP_1.0WIF,6HINCP_2.0VEH_4.0NP_1.0WIF,3HINCP_3.0VEH_6.0NP_1.0WIF,9HINCP_1.0VEH_3.0NP_1.0WIF,...,young-adultAGEP_GraduateSCHL_femaleSEX_asianRAC1P,young-adultAGEP_below-highSCHL_maleSEX_otherRAC1P,childAGEP_below-highSCHL_femaleSEX_pacific-islanderRAC1P,tenagerAGEP_below-highSCHL_maleSEX_blackRAC1P,young-adultAGEP_below-highSCHL_maleSEX_pacific-islanderRAC1P,seniorAGEP_High-schoolSCHL_maleSEX_blackRAC1P,adultAGEP_High-schoolSCHL_femaleSEX_whiteRAC1P,adultAGEP_High-schoolSCHL_femaleSEX_otherRAC1P,young-adultAGEP_High-schoolSCHL_femaleSEX_otherRAC1P,young-adultAGEP_below-highSCHL_maleSEX_blackRAC1P
2017000000496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000000567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000000954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000001569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017000001843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
row_index=9
selected_row = binary_matrix.iloc[row_index]
selected_row[selected_row.apply(lambda x: x.isnumeric() and int(x) > 0 if isinstance(x, str) else x > 0)]
# binary_matrix.columns[df.iloc[row_index].apply(lambda x: x > 0 if isinstance(x, (int, float)) else False)]

8HINCP_2.0VEH_5.0NP_1.0WIF                            1
young-adultAGEP_High-schoolSCHL_maleSEX_blackRAC1P    1
tenagerAGEP_below-highSCHL_femaleSEX_blackRAC1P       2
adultAGEP_GraduateSCHL_maleSEX_blackRAC1P             1
tenagerAGEP_below-highSCHL_maleSEX_blackRAC1P         1
Name: 2017000003442, dtype: int64

In [27]:
binary_matrix.max()

9HINCP_2.0VEH_5.0NP_1.0WIF                              1
8HINCP_3.0VEH_4.0NP_1.0WIF                              1
8HINCP_1.0VEH_5.0NP_2.0WIF                              1
8HINCP_1.0VEH_1.0NP_2.0WIF                              1
2HINCP_1.0VEH_3.0NP_1.0WIF                              1
                                                       ..
seniorAGEP_High-schoolSCHL_maleSEX_blackRAC1P           1
adultAGEP_High-schoolSCHL_femaleSEX_whiteRAC1P          6
adultAGEP_High-schoolSCHL_femaleSEX_otherRAC1P          2
young-adultAGEP_High-schoolSCHL_femaleSEX_otherRAC1P    2
young-adultAGEP_below-highSCHL_maleSEX_blackRAC1P       1
Length: 885, dtype: int64

In [16]:
# from collections import Counter
# # Generate all possible combinations of characteristics (customize as needed)
# household_combinations = ["{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"]) for _, row in df.iterrows()]
# person_combinations = ["{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"]) for _, row in df.iterrows()]

# # Get unique households
# unique_households = df['SERIALNO'].unique()

# # Initialize dictionaries to track person characteristic frequencies and unique combinations
# person_freq = Counter(person_combinations)
# unique_household_combinations = set(household_combinations)

# # Create a dictionary to hold the binary matrix data
# binary_data = {}

# # Populate the dictionary with 1s and person frequencies
# for idx, row in df.iterrows():
#     serialno = row['SERIALNO']
#     household_combination = "{}HINCP_{}VEH_{}NP_{}WIF".format(row["HINCP"], row["VEH"], row["NP"], row["WIF"])
#     person_combination = "{}AGEP_{}SCHL_{}SEX_{}RAC1P".format(row["AGEP"], row["SCHL"], row["SEX"], row["RAC1P"])
    
#     if serialno not in binary_data:
#         binary_data[serialno] = {comb: 0 for comb in unique_household_combinations}
    
#     binary_data[serialno][household_combination] = 1
#     binary_data[serialno][person_combination] = person_freq[person_combination]

# # Create a DataFrame from the binary data dictionary
# binary_matrix = pd.DataFrame.from_dict(binary_data, orient='index')

# # Save the binary matrix to a CSV file
# binary_matrix.to_csv('binary_matrix_v2.csv')

In [17]:
binary_matrix.head(5)

,7HINCP_3.0VEH_2.0NP_2.0WIF,3HINCP_2.0VEH_5.0NP_1.0WIF,4HINCP_3.0VEH_3.0NP_0.0WIF,5HINCP_1.0VEH_5.0NP_1.0WIF,8HINCP_0.0VEH_3.0NP_3.0WIF,7HINCP_3.0VEH_2.0NP_1.0WIF,4HINCP_0.0VEH_8.0NP_2.0WIF,3HINCP_2.0VEH_3.0NP_2.0WIF,2HINCP_3.0VEH_4.0NP_0.0WIF,7HINCP_1.0VEH_4.0NP_3.0WIF,...,seniorAGEP_BachelorSCHL_maleSEX_asianRAC1P,young-adultAGEP_GraduateSCHL_maleSEX_otherRAC1P,adultAGEP_collegeSCHL_femaleSEX_pacific-islanderRAC1P,young-adultAGEP_GraduateSCHL_femaleSEX_nativeRAC1P,adultAGEP_High-schoolSCHL_maleSEX_pacific-islanderRAC1P,adultAGEP_High-schoolSCHL_femaleSEX_pacific-islanderRAC1P,seniorAGEP_below-highSCHL_femaleSEX_pacific-islanderRAC1P,adultAGEP_collegeSCHL_maleSEX_pacific-islanderRAC1P,childAGEP_below-highSCHL_maleSEX_pacific-islanderRAC1P,seniorAGEP_GraduateSCHL_maleSEX_pacific-islanderRAC1P
2017000000496,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017000000567,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017000000954,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017000001569,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017000001843,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN