In [100]:
import pandas as pd;

# construct age categories from numerical ages
def translateAge(age):
    if age <=5:
        return 'child'
    elif age <= 18:
        return 'tenager'
    elif age <= 25:
        return 'young-adult'
    elif age < 60:
        return 'adult'
    else:
        return 'senior'

# get the symbolic name of the gender from numerical value
def translateSex(sex):
    if sex == 1:
        return 'male'
    else:
        return 'female'

# get the race categories from numerical race values
def translateRace(race):
    if race == 1:
        return 'white'
    elif race == 2:
        return 'black'
    elif race >= 3 and race <= 5:
        return 'native'
    elif race == 6:
        return 'asian'
    elif race == 7:
        return 'pacific-islander'
    else:
        return 'other'
    

def translateEduc(educ):
    if educ>=22 and educ<=24: return 'Graduate'
    elif educ==21: return 'Bachelor'
    elif educ>=18 and educ<=20: return 'college'
    elif educ>=16 and educ<=17: return 'High-school'
    else : return 'below-high'

def translateInc(inc):
    if inc>1 and inc<1000: return "1"
    elif inc<15000 : return '2'
    elif inc<25000 : return '3'
    elif inc<35000 : return '4'
    elif inc<50000 : return '5'
    elif inc<75000 : return '6'
    elif inc<100000 : return '7'
    # elif inc<125000 : return '8'
    elif inc<150000 : return '8'
    elif inc<200000 : return '9'
    elif inc>=200000 : return '10'
    else : return '0'

In [101]:
col_list = ["SEX", "RAC1P", "AGEP","SCHL", "SERIALNO"]
pums_data = pd.read_csv("psam_p46.csv",usecols=col_list)
hh_data = pd.read_csv("psam_h46.csv", usecols=["SERIALNO","HINCP","VEH","NP","WIF"])
pums_data=pums_data.merge(hh_data[["SERIALNO","HINCP","VEH","NP","WIF"]],
                          on="SERIALNO", how='left')
pums_data['VEH'].value_counts()

C:\Users\abubabu\AppData\Local\Temp\ipykernel_39868\4003225856.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  pums_data = pd.read_csv("psam_p46.csv",usecols=col_list)
C:\Users\abubabu\AppData\Local\Temp\ipykernel_39868\4003225856.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  hh_data = pd.read_csv("psam_h46.csv", usecols=["SERIALNO","HINCP","VEH","NP","WIF"])

2.0    15858
3.0    10103
1.0     7043
4.0     4482
5.0     1919
6.0     1340
0.0     1332
Name: VEH, dtype: int64

In [102]:
# only read the columns that we are interested as the CSV file is too large
# col_list = ["SEX", "RAC1P", "AGEP","SCHL", "SERIALNO"]
# pums_data = pd.read_csv("psam_p46.csv", usecols=col_list)
# hh_data = pd.read_csv("psam_h46.csv", usecols=["SERIALNO"])

# construct caegorical data from numerical data that comes from pums
pums_data['AGEP'] = pums_data.apply(lambda row: translateAge(row['AGEP']), axis=1)
pums_data['SEX'] = pums_data.apply(lambda row: translateSex(row['SEX']), axis=1)
pums_data['RAC1P'] = pums_data.apply(lambda row: translateRace(row['RAC1P']), axis=1)
pums_data['SCHL'] = pums_data.apply(lambda row: translateEduc(row['SCHL']), axis=1)
pums_data['HINCP'] = pums_data.apply(lambda row: translateInc(row['HINCP']), axis=1)
# pums_data['house_no'] = pums_data.apply(lambda row: translateRace(row['SERIALNO']), axis=1)


# view the data to see if the categorization is accurate
pums_data.head(20)
# hh_data.columns.tolist()

,SERIALNO,AGEP,SCHL,SEX,RAC1P,HINCP,VEH,NP,WIF
0,2017000000496,adult,college,female,white,10,3.0,3.0,1.0
1,2017000000496,senior,college,male,white,10,3.0,3.0,1.0
2,2017000000496,adult,college,male,white,10,3.0,3.0,1.0
3,2017000000567,adult,college,female,white,8,1.0,2.0,NaN
4,2017000000567,adult,below-high,male,white,8,1.0,2.0,NaN
5,2017000000954,senior,High-school,female,white,6,3.0,2.0,1.0
6,2017000000954,senior,college,male,white,6,3.0,2.0,1.0
7,2017000001569,young-adult,college,female,white,6,3.0,4.0,1.0
8,2017000001569,child,below-high,female,white,6,3.0,4.0,1.0
9,2017000001569,child,below-high,male,white,6,3.0,4.0,1.0
10,2017000001569,young-adult,High-school,male,white,6,3.0,4.0,1.0
11,2017000001843,adult,Bachelor,female,white,8,3.0,2.0,1.0
12,2017000001843,senior,Bachelor,male,white,8,3.0,2.0,1.0
13,2017000002261,adult,High-school,male,other,8,2.0,2.0,NaN
14,2017000002261,adult,High-school,female,white,8,2.0,2.0,NaN
15,2017000002716,adult,college,female,white,8,3.0,3.0,2.0
16,2017000002716,adult,High-school,male,white,8,3.0,3.0,2.0
17,2017000002716,tenager,below-high,male,white,8,3.0,3.0,2.0
18,2017000002867,adult,college,male,white,3,1.0,1.0,NaN
19,2017000003161,adult,Graduate,female,white,8,2.0,4.0,2.0

In [103]:
pums_data.to_csv("temp_pums.csv")
hh_data.to_csv("temp_hh.csv")

In [104]:
pums_data.head(10)

        SERIALNO         AGEP         SCHL     SEX  RAC1P HINCP  VEH   NP  WIF
0  2017000000496        adult      college  female  white    10  3.0  3.0  1.0
1  2017000000496       senior      college    male  white    10  3.0  3.0  1.0
2  2017000000496        adult      college    male  white    10  3.0  3.0  1.0
3  2017000000567        adult      college  female  white     8  1.0  2.0  NaN
4  2017000000567        adult   below-high    male  white     8  1.0  2.0  NaN
5  2017000000954       senior  High-school  female  white     6  3.0  2.0  1.0
6  2017000000954       senior      college    male  white     6  3.0  2.0  1.0
7  2017000001569  young-adult      college  female  white     6  3.0  4.0  1.0
8  2017000001569        child   below-high  female  white     6  3.0  4.0  1.0
9  2017000001569        child   below-high    male  white     6  3.0  4.0  1.0

In [105]:
# count the male female under each race and age sub-group
gender_chart = pums_data.pivot_table(values='SEX', index=['race','age', 'sex'], aggfunc=pd.Series.count)
gender_chart.head(20)

KeyError: 'race'

In [ ]:
# count the race groups under each age and gender sub-group
race_chart = pums_data.pivot_table(values='RAC1P', index=['sex','age', 'race'], aggfunc=pd.Series.count)
race_chart.head(20)

                                 RAC1P
sex    age     race
female adult   asian                95
               black                73
               native              814
               other               253
               pacific-islander      2
               white              7241
       child   asian                 7
               black                23
               native              245
               other               142
               pacific-islander      3
               white              1216
       senior  asian                21
               black                11
               native              325
               other                97
               pacific-islander      2
               white              6267
       tenager asian                32
               black                58

In [ ]:
# count the age groups under each race and gender sub-group
age_chart = pums_data.pivot_table(values='AGEP', index=['sex','race', 'age'], aggfunc=pd.Series.count)
age_chart.head(20)

                           AGEP
sex    race   age
female asian  adult          95
              child           7
              senior         21
              tenager        32
              young-adult    35
       black  adult          73
              child          23
              senior         11
              tenager        58
              young-adult    19
       native adult         814
              child         245
              senior        325
              tenager       607
              young-adult   192
       other  adult         253
              child         142
              senior         97
              tenager       247
              young-adult    93

In [ ]:
pums_data.to_csv("temp_pums.csv")
hh_data.to_csv("temp_hh.csv")

In [ ]:
ct = pd.crosstab(pums_data.race, [pums_data.age, pums_data.sex])
ct #cross-tabulation of the resulting sampled matrix.

age               adult        child       senior       tenager        \
sex              female  male female  male female  male  female  male
race
asian                95    75      7     8     21    10      32    33
black                73   121     23    16     11    20      58    77
native              814   836    245   274    325   259     607   654
other               253   359    142   118     97    83     247   257
pacific-islander      2     5      3     1      2     4       0     1
white              7241  7390   1216  1262   6267  5725    2808  3106

age              young-adult
sex                   female  male
race
asian                     35    31
black                     19    51
native                   192   230
other                     93    79
pacific-islander           1     4
white                   1293  1485