In [16]:
import pandas as pd;

# construct age categories from numerical ages
def translateAge(age):
    if age <=5:
        return 'child'
    elif age <= 18:
        return 'tenager'
    elif age <= 25:
        return 'young-adult'
    elif age < 60:
        return 'adult'
    else:
        return 'senior'

# get the symbolic name of the gender from numerical value
def translateSex(sex):
    if sex == 1:
        return 'male'
    else:
        return 'female'

# get the race categories from numerical race values
def translateRace(race):
    if race == 1:
        return 'white'
    elif race == 2:
        return 'black'
    elif race >= 3 and race <= 5:
        return 'native'
    elif race == 6:
        return 'asian'
    elif race == 7:
        return 'pacific-islander'
    else:
        return 'other'

In [17]:
# only read the columns that we are interested as the CSV file is too large
col_list = ["SEX", "RAC1P", "AGEP", "SERIALNO"]
pums_data = pd.read_csv("psam_p46.csv", usecols=col_list)
hh_data = pd.read_csv("psam_p46.csv", usecols=["SERIALNO"])

# construct caegorical data from numerical data that comes from pums
pums_data['age'] = pums_data.apply(lambda row: translateAge(row['AGEP']), axis=1)
pums_data['sex'] = pums_data.apply(lambda row: translateSex(row['SEX']), axis=1)
pums_data['race'] = pums_data.apply(lambda row: translateRace(row['RAC1P']), axis=1)
# pums_data['house_no'] = pums_data.apply(lambda row: translateRace(row['SERIALNO']), axis=1)


# view the data to see if the categorization is accurate
pums_data.head(20)

C:\Users\abubabu\AppData\Local\Temp\ipykernel_39804\3807234843.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  pums_data = pd.read_csv("psam_p46.csv", usecols=col_list)
C:\Users\abubabu\AppData\Local\Temp\ipykernel_39804\3807234843.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  hh_data = pd.read_csv("psam_p46.csv", usecols=["SERIALNO"])

         SERIALNO  AGEP  SEX  RAC1P          age     sex   race
0   2017000000496    55    2      1        adult  female  white
1   2017000000496    60    1      1       senior    male  white
2   2017000000496    27    1      1        adult    male  white
3   2017000000567    50    2      1        adult  female  white
4   2017000000567    56    1      1        adult    male  white
5   2017000000954    69    2      1       senior  female  white
6   2017000000954    68    1      1       senior    male  white
7   2017000001569    23    2      1  young-adult  female  white
8   2017000001569     4    2      1        child  female  white
9   2017000001569     0    1      1        child    male  white
10  2017000001569    24    1      1  young-adult    male  white
11  2017000001843    59    2      1        adult  female  white
12  2017000001843    62    1      1       senior    male  white
13  2017000002261    51    1      9        adult    male  other
14  2017000002261    45    2      1        adult  female  white
15  2017000002716    39    2      1        adult  female  white
16  2017000002716    53    1      1        adult    male  white
17  2017000002716     9    1      1      tenager    male  white
18  2017000002867    49    1      1        adult    male  white
19  2017000003161    33    2      1        adult  female  white

In [18]:
# count the male female under each race and age sub-group
gender_chart = pums_data.pivot_table(values='SEX', index=['race','age', 'sex'], aggfunc=pd.Series.count)
gender_chart.head(20)

                          SEX
race  age         sex
asian adult       female   95
                  male     75
      child       female    7
                  male      8
      senior      female   21
                  male     10
      tenager     female   32
                  male     33
      young-adult female   35
                  male     31
black adult       female   73
                  male    121
      child       female   23
                  male     16
      senior      female   11
                  male     20
      tenager     female   58
                  male     77
      young-adult female   19
                  male     51

In [19]:
# count the race groups under each age and gender sub-group
race_chart = pums_data.pivot_table(values='RAC1P', index=['sex','age', 'race'], aggfunc=pd.Series.count)
race_chart.head(20)

                                 RAC1P
sex    age     race
female adult   asian                95
               black                73
               native              814
               other               253
               pacific-islander      2
               white              7241
       child   asian                 7
               black                23
               native              245
               other               142
               pacific-islander      3
               white              1216
       senior  asian                21
               black                11
               native              325
               other                97
               pacific-islander      2
               white              6267
       tenager asian                32
               black                58

In [20]:
# count the age groups under each race and gender sub-group
age_chart = pums_data.pivot_table(values='AGEP', index=['sex','race', 'age'], aggfunc=pd.Series.count)
age_chart.head(20)

                           AGEP
sex    race   age
female asian  adult          95
              child           7
              senior         21
              tenager        32
              young-adult    35
       black  adult          73
              child          23
              senior         11
              tenager        58
              young-adult    19
       native adult         814
              child         245
              senior        325
              tenager       607
              young-adult   192
       other  adult         253
              child         142
              senior         97
              tenager       247
              young-adult    93

In [21]:
pums_data.to_csv("temp_pums.csv")
hh_data.to_csv("temp_hh.csv")

In [22]:
ct = pd.crosstab(pums_data.race, [pums_data.age, pums_data.sex])
ct #cross-tabulation of the resulting sampled matrix.

age               adult        child       senior       tenager        \
sex              female  male female  male female  male  female  male
race
asian                95    75      7     8     21    10      32    33
black                73   121     23    16     11    20      58    77
native              814   836    245   274    325   259     607   654
other               253   359    142   118     97    83     247   257
pacific-islander      2     5      3     1      2     4       0     1
white              7241  7390   1216  1262   6267  5725    2808  3106

age              young-adult
sex                   female  male
race
asian                     35    31
black                     19    51
native                   192   230
other                     93    79
pacific-islander           1     4
white                   1293  1485